/*
	The code in this file exists for demo purposes only.
	It's bad practice to use the !important declaration, 
	and it's bad practice to remove visible focus indicators.
*/

.form-control:focus,
.form-control:active,
.btn:focus,
.btn:active
{
  outline: 0 !important; 
  box-shadow: none !important;
}

.form-control:focus,
.form-control:active
{
  border-color: #ced4da !important;
}

.btn:focus,
.btn:active
{
  border-color: transparent !important;
}